<div class="home">
  <div
    style="
      background-color: rgb(152, 203, 247);
      text-align: center;
      border-radius: 2px;
      padding: 5px;
      color: white;
      font-family: Franklin Gothic Medium;
    "
  >
    <h1 ng-if="mylocation=='/drama'"><b>Drama</b></h1>

    <input
      style="margin-right: 9px"
      type="search"
      class="form-control ds-input input1"
      id="searchBookDrama"
      onkeyup="searchBar('searchBookDrama','dramaTable')"
      placeholder="Search Book By Title or Author"
    />
  </div>
  <table
    id="dramaTable"
    ng-table="subjectTable"
    class="table table-striped table-bordered table-sm table-responsive"
    cellspacing="0"
    width="100%"
    show-filter="true"
    style="text-align: center; margin-top: 40px"
  >
    <tr ng-repeat="user in $data">
      <td title="'Sno.'">{{$index+1}}</td>
      <td
        title="'Title and Sub Title'"
        filter="{ title1: 'text'}"
        sortable="'title1'"
      >
        {{user.title1}}
      </td>
      <td title="'Author'" filter="{ name1: 'text'}" sortable="'name1'">
        {{user.name1}}
      </td>
      <td
        title="'Latest Publish Year '"
        filter="{ latest: 'number'}"
        sortable="'latest'"
      >
        {{user.latest}}
      </td>
      <td
        title="'First Publish Year '"
        filter="{ first: 'number'}"
        sortable="'first'"
      >
        {{user.first}}
      </td>
    </tr>
  </table>
</div>
